export TWITTER_CONSUMER_KEY=<<Your twitter consumer key>>
export TWITTER_CONSUMER_SECRET=<<Your twitter consumer secret>>
export TWITTER_ACCESS_TOKEN_KEY=<<Your twitter access token key>>
export TWITTER_ACCESS_TOKEN_SECRET=<<Your twitter access token secret>>

export AWS_ACCESS_KEY_ID=<<Your AWS access key ID>>
export AWS_SECRET_ACCESS_KEY=<<Your AWS secret access key>>
export AWS_S3_BUCKET_NAME=<<Your AWS S3 bucket name to store tweets>>